.message-page {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.message-page__dialogs-list,
.message-page__messages-list,
.message-page__dialogs--link {
    padding: 0;
    margin: 0;
    margin-left: 10px;
    margin-right: 0;
    list-style: none;
    text-decoration: none;
    color: azure;
    font-family: 'Courier New', Courier, monospace;
}

.message-page__dialogs-list {
    width: 10%;
    margin-left: 80px;
    padding-left: 30px;
}

.message-page__messages {
    width: 80%;
}
