.setting-page__list {
    list-style: none;
    color: white;
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    line-height: 26px;
}